[Desktop Entry]
Type=Application
Exec="/home/vagrant/Desktop/MPS 3.2/mps.sh"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=mps
Name=mps
Comment[en_US]=
Comment=
