[Desktop Entry]
Encoding=UTF-8
Name=Link to JetbrainsMPS - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=yBiAnKe1pLs
Icon=text-html
Name[en_US]=YoutubeDemo
